<div class="alert alert-danger" role="alert" ng-show="invalidLogin">Oh snap! Email and password combination not recognised</div>

<form class="form-signin" role="form" ng-submit="login()">
    <h2 class="form-signin-heading">Bitte anmelden</h2>
    <input type="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="loginModel.email">
    <input type="password" class="form-control" placeholder="Password" required="" ng-model="loginModel.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        <i class="fa" ng-class="{'fa-cog fa-spin': isBusy, 'fa-sign-in': !isBusy}"></i>
        <span>Sign in</span>
    </button>
</form>

<h3>Logins</h3>
<code>
    <br>
    "id": 0,<br>
    "name":"Admin User",<br>
    "email": "admin@test.com",<br>
    "password": "admin",<br>
    "permissions": ["Admin", "UserManager"]<br>
    <br>
    "id": 1,<br>
    "name":"Normal User",<br>
    "email": "user@test.com",<br>
    "password": "user",<br>
    "permissions": ["User"]<br>
    <br>
    "id": 2,<br>
    "name":"Manager User",<br>
    "email": "manager@test.com",<br>
    "password": "manager",<br>
    "permissions": ["UserManager"]<br>
    <br>
"id": 3,<br>
"name":"Einstellungen SuperUser",<br>
"email": "1@test.com",<br>
"password": "1",<br>
"permissions": ["zeigeEinstellungen","bearbeiteEinstellungen","loescheEinstellungen"]<br>
    <br>
"id": 4,<br>
"name":"Einstellungen Readonly User",<br>
"email": "2@test.com",<br>
"password": "2",<br>
"permissions": ["zeigeEinstellungen"]<br>
</code>