<div class="alert alert-danger" role="alert" ng-show="invalidLogin">Oh snap! Email and password combination not recognised</div>

<form class="form-signin" role="form" ng-submit="login()">
    <h2 class="form-signin-heading">Bitte anmelden</h2>

    <!-- Hier wird ein Dropdown aufgebaut. Der Inhalt ist eine Liste der Mailadressen aus dem Objekt User. Durch das binden an das model "loginModel" wird beim selektieren direkt User und Passwort gesetzt. -->
    <select ng-model="loginModel" ng-options="user.name for user in userstore.user" class="form-control">
    </select>
<br>

    <input type="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="loginModel.email" readonly>
    <input type="password" class="form-control" placeholder="Password" required="" ng-model="loginModel.password" readonly>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        <i class="fa" ng-class="{'fa-cog fa-spin': isBusy, 'fa-sign-in': !isBusy}"></i>
        <span>Sign in</span>
    </button>
</form>
<br>
<br>

<h3>Verfügbare User:</h3>
<pre ng-model="loginModel" ng-repeat="user in userstore.user">
    <b>{{user.name}} </b>
    <small>permissions: {{user.permissions}}</small>
</pre>